body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.swiper-container {
  min-height: 10vh;
}

.swiper-slide {
  min-width: 250px !important;
  padding: 1rem;
}
